#main
  .container
    .row
      #mainbar.span12
        %section#topics.box
          %table.item-list
            %tbody
              = render :partial => 'topics/topic', :collection => @topics
          %footer
            = link_to t('.more_topics'), topics_path
      #sidebar.span4
        - if logined?
          = render :partial => 'shared/sidebar_profile'
        - else
          = render :partial => 'shared/sidebar_login'
        %section.box
          %header= t('.status')
          %ul
            %li= t '.users_count', :count => @users_count
            %li= t '.topics_count', :count => @topics_count
            %li= t '.replies_count', :count => @replies_count
