%tr.reply{:id => reply.anchor}
  %td.avatar= image_tag reply.user.gravatar_url(:size => 48)
  %td.content
    %article
      %header.clearbox
        .left
          = link_to_person reply.user
          - if reply.user.name != reply.user.profile.name
            %span= reply.user.profile.name
        .right
          = format_time reply.created_at
          - if reply.edited?
            = t('updated_at')
            = format_time reply.updated_at
          - if logined?
            - if reply.user == current_user
              = link_to t('edit'), edit_reply_path(reply)
            = link_to '@', '#new_reply', :class => 'at', 'data-user-name' => reply.user.screen_name
      ~ format_text reply.content, :mention_names => reply.mentioned_user_names
