- content_for :head do
  = javascript_include_tag 'editor'
  = stylesheet_link_tag 'editor'

#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to t('.topics'), topics_path
            %span.divider /
          %li
            = link_to @reply.topic.title, @reply.topic
            %span.divider /
          %li.active= t('.edit_reply')
    .row
      #mainbar.span12
        %section#editor.box
          = form_for @reply, :url => reply_path(@reply, :return_to => @return_to) do |f|
            = render :partial => 'form', :object => f
            .clearfix= f.submit t('update'), :class => 'btn primary'
      #sidebar.span4
        = render :partial => 'shared/sidebar_profile'
