= form_for current_user, :url => settings_account_path, :validate => true do |f|
  %fieldset
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
    .clearfix
      = f.label :email
      .input
        = f.text_field :email
    .clearfix
      = f.label :locale
      .input
        = f.select :locale, AllowLocale.map{|locale| [t(locale), locale]}
    .clearfix
      = f.label :current_password
      .input
        = f.password_field :current_password
    .actions
      = f.submit t('save'), :class => 'btn primary'
