%li
  .avatar= link_avatar_to_person comment.user, :size => 24
  .comment{'data-comment-id' => comment.number_id, :id => comment.anchor}
    .info
      %span.author= link_to_person comment.user
      %span.time
        = time_ago_in_words comment.created_at
        ago,
      %span.up_votes_count
        %span= comment.up_votes_count
        points.
      - if logined?
        - if comment.voted_by?(current_user)
          %span.vote_up.label.success= 'Voted'
        - else
          %span.vote_up= link_to 'Vote up', vote_up_comment_path(comment), :method => :put, :class => 'lbtn'
        |
        %span.reply= link_to 'Reply', new_comment_path(:resource_id => comment.resource, :parent_id => comment)
    .content
      = comment.content
  - if @comments
    - children = @comments.find_all{|c| c.parent == comment}
    - if children.any?
      %ul
        - children.each do |child|
          = render :partial => 'comments/comment', :object => child
