#main
  .container
    %section.box
      #profile
        .left-side
          .avatar= image_tag @person.gravatar_url(:size => 160)
        .right-side
          %h1
            = "#{@person.name}'s Profile"
            %small
              - if @person == current_user
                It's you !
                = link_to 'Edit', settings_profile_path, :class => 'lbtn notice'
          %dl
            - if @person.profile.name.present?
              %dt Name
              %dd= @person.profile.name
            %dt Member Since
            %dd= l @person.created_at.to_date, :format => :long
            - if @person.profile.url.present?
              %dt Url
              %dd= link_to @person.profile.url, @person.profile.url
            - if @person.profile.description.present?
              %dt Description
              %dd= simple_format @person.profile.description
          %h2
            Topics
            %small
              = @topics.total_count
              total
          - if @topics.any?
            %ul.nice-list
              - @topics.each do |topic|
                %li
                  = link_to topic.title, topic
                  = '/'
                  - if topic.tags.to_a.any?
                    tags
                    %span.tags
                      - topic.tags.each do |tag|
                        = link_to tag, tagged_topics_path(:tag => tag)
                    ,
                  %span.time
                    = time_ago_in_words topic.created_at
                    ago.
          - else
            have no topic yet.
          %h2
            Resources
            %small
              = @resources.total_count
              total
          - if @resources.any?
            %ul.nice-list
              - @resources.each do |resource|
                %li
                  = link_to resource.title, resource
                  = '/'
                  - if resource.tags.to_a.any?
                    tags
                    %span.tags
                      - resource.tags.each do |tag|
                        = link_to tag, tagged_resources_path(:tag => tag)
                    ,
                  %span.time
                    = time_ago_in_words resource.created_at
                    ago.
          - else
            have no resource yet.
