#main
  .container
    .row
      #mainbar.span9
        %section#profile.box
          .profile-wrap
            .profile-inner
              .avatar
                = image_tag @person.gravatar_url(:size => 128)
              .info
                %h1
                  = @person.profile.name.present? ? @person.profile.name : @person.name
                  %small= "@#{@person.name}"
                - if @person.profile.description.present?
                  = simple_format @person.profile.description
                - if @person.profile.url.present?
                  = link_to @person.profile.url, @person.profile.url, :rel => 'external nofollow'
          - if @person == current_user
            %footer
              = link_to t('.edit_profile'), settings_profile_path, :class => 'btn'
        %section#topics.box
          %table.item-list
            %tbody
              = render :partial => 'topics/topic', :collection => @topics
      #sidebar.span3
        %section.box
          %header= t('.person_status')
          %ul
            %li= t '.topics_count', :count => @topics_count
            %li= t '.replies_count', :count => @replies_count
