%tr{:id => topic.anchor}
  %td.avatar
    = link_avatar_to_person(topic.user)
  %td
    %h3
      = link_to topic.title, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
    .info
      - if topic.tags.to_a.any?
        %span.tags
          - topic.tags.each do |tag|
            = link_to tag, tagged_topics_path(:tag => tag)
      %span.author
        = link_to_person(topic.user)
      %span.time
        = t 'created_at'
        = format_time topic.created_at
        - if topic.actived_at > topic.created_at
          ,
          = t 'replied_at'
          = format_time topic.actived_at
  %td.reply-count.last
    - if topic.replies_count > 0
      = link_to topic.replies_count, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
