- @page_title = "#{t('edit')}#{t('.topics')}"

- content_for :head do
  = javascript_include_tag 'editor'
  = stylesheet_link_tag 'editor'

#main
  .container
    .row
      .span12
        %ul.breadcrumb
          %li
            = link_to t('.topics'), topics_path
            %span.divider /
          %li
            = link_to @topic.title, @topic
            %span.divider /
          %li.active
            = t('edit')

    .row
      #mainbar.span9
        %section#editor.box
          = form_for @topic, :validate => true do |f|
            = render :partial => 'form', :object => f
            .control-group= f.submit t('update'), :class => 'btn primary'
      #sidebar.span3
        = render :partial => 'shared/sidebar_profile'
