#main
  .container
    .row
      #mainbar.span12
        %section#topics.box
          %table.item-list
            %tbody
              - @topics.each do |topic|
                %tr
                  %td.avatar
                    = image_tag topic.user.gravatar_url
                  %td
                    %h3
                      = link_to topic.title, topic
                    .info
                      - if topic.tags && topic.tags.any?
                        %span.tags
                          - topic.tags.each do |tag|
                            %a{:href => '#'}= tag
                      %span.author
                        by
                        %a{:href => '#'}= topic.user.name
                      %span.time
                        at
                        = time_ago_in_words topic.created_at
                        ago.
                  %td.reply-count
                    %a{:href => '#'} 0
        = paginate @topics
      #sidebar.span4
        - if logined?
          %section.profile.box
            .avatar
              = image_tag current_user.gravatar_url
            .info
              Signed as
              %h3 Rei
          %section.box
            = link_to 'Create Topic', new_topic_path, :class => 'btn primary'
        - else
          %section.box
            %header
              %h4 Join discuss?
            = link_to 'Signup', signup_path, :class => 'btn'
            or
            = link_to 'Login', login_path
