#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to 'Topics', topics_path
              %span.divider /
            %li.active= action_name
    .row
      #mainbar.span12
        - if @topics.any?
          %section#topics.box
            %table.item-list
              %tbody
                - @topics.each do |topic|
                  %tr
                    %td.avatar
                      = link_avatar_to_person(topic.user)
                    %td
                      %h3
                        = link_to topic.title, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
                      .info
                        - if topic.tags.to_a.any?
                          %span.tags
                            - topic.tags.each do |tag|
                              = link_to tag, tagged_topics_path(:tag => tag)
                        %span.author
                          by
                          = link_to_person(topic.user)
                        %span.time
                          at
                          = time_ago_in_words topic.created_at
                          ago.
                    %td.reply-count.last
                      - if topic.replies_count > 0
                        = link_to topic.replies_count, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
          = paginate @topics
        - else
          %section.box
            No Topics
      #sidebar.span4
        - if logined?
          %section.box
            - if action_name == 'tagged'
              = link_to 'Create Topic', new_topic_path(:tag => params[:tag]), :class => 'btn primary'
            - else
              = link_to 'Create Topic', new_topic_path, :class => 'btn primary'
          %section.profile.box
            .avatar
              = link_avatar_to_person current_user, :size => 64
            .info
              Signed as
              %h3 Rei
          %section.box
            %ul.nice-list
              %li= link_to_unless (action_name == 'interesting'), 'Interesting', interesting_topics_path
              %li= link_to_unless (action_name == 'marked'), 'Marked', marked_topics_path
              %li= link_to_unless (action_name == 'my'), 'My', my_topics_path
              %li= link_to_unless (action_name == 'replied'), 'Replied', replied_topics_path
          - if action_name == 'tagged'
            %section.box
              %header
                Tagged
                = params[:tag]
              - if current_user.favorite_tags.include? params[:tag]
                = button_to 'Remove Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :delete, :class => 'btn error'
              - else
                = button_to 'Add Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :put, :class => 'btn success'
          %section.box
            %header
              Favorite Tags
              = link_to 'settings', settings_favorite_tags_path
            - if current_user.favorite_tags.any?
              .tags
                - current_user.favorite_tags.each do |tag|
                  = link_to tag, tagged_topics_path(:tag => tag)

        - else
          %section.box
            %header
              Join discuss?
            = link_to 'Signup', signup_path, :class => 'btn'
            or
            = link_to 'Login', login_path
