#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to 'Topics', topics_path
              %span.divider /
            %li.active= action_name
    .row
      #mainbar.span12
        %section#topics.box
          %table.item-list
            %tbody
              - @topics.each do |topic|
                %tr
                  %td.avatar
                    = image_tag topic.user.gravatar_url
                  %td
                    %h3
                      = link_to topic.title, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
                    .info
                      - if topic.tags.to_a.any?
                        %span.tags
                          - topic.tags.each do |tag|
                            %a{:href => '#'}= tag
                      %span.author
                        by
                        %a{:href => '#'}= topic.user.name
                      %span.time
                        at
                        = time_ago_in_words topic.created_at
                        ago.
                  %td.reply-count
                    - if topic.replies_count > 0
                      = link_to topic.replies_count, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
        = paginate @topics
      #sidebar.span4
        - if logined?
          %section.profile.box
            .avatar
              = image_tag current_user.gravatar_url
            .info
              Signed as
              %h3 Rei
          %section.box
            %ul.nice-list
              %li= link_to_unless (action_name == 'marked'), 'Marked', marked_topics_path
              %li= link_to_unless (action_name == 'my'), 'My', my_topics_path
              %li= link_to 'Replied', '#'
          %section.box
            = link_to 'Create Topic', new_topic_path, :class => 'btn primary'
        - else
          %section.box
            %header
              %h4 Join discuss?
            = link_to 'Signup', signup_path, :class => 'btn'
            or
            = link_to 'Login', login_path
