#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to 'Topics', topics_path
              %span.divider /
            %li.active= action_name
    .row
      #mainbar.span12
        - if @topics.any?
          %section#topics.box
            %table.item-list
              %tbody
                = render :partial => 'topic', :collection => @topics
          = paginate @topics
        - else
          %section.box
            No Topics
      #sidebar.span4
        - if logined?
          %section.box
            - if action_name == 'tagged'
              = link_to 'Create Topic', new_topic_path(:tag => params[:tag]), :class => 'btn primary'
            - else
              = link_to 'Create Topic', new_topic_path, :class => 'btn primary'
          = render :partial => 'shared/sidebar_profile'
          %section.box
            %ul.nice-list
              %li= link_to_unless (action_name == 'newest'), 'Newest', newest_topics_path
              %li= link_to_unless (action_name == 'interesting'), 'Interesting', interesting_topics_path
              %li= link_to_unless (action_name == 'marked'), 'Marked', marked_topics_path
              %li= link_to_unless (action_name == 'my'), 'My', my_topics_path
              %li= link_to_unless (action_name == 'replied'), 'Replied', replied_topics_path
          - if action_name == 'tagged'
            %section.box
              %header
                Tagged
                = params[:tag]
              - if current_user.favorite_tags.include? params[:tag]
                = button_to 'Remove Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :delete, :class => 'btn error'
              - else
                = button_to 'Add Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :put, :class => 'btn success'
          %section.box
            %header
              Favorite Tags
              = link_to 'settings', settings_favorite_tags_path
            - if current_user.favorite_tags.any?
              .tags
                - current_user.favorite_tags.each do |tag|
                  = link_to tag, tagged_topics_path(:tag => tag)

        - else
          = render :partial => 'shared/sidebar_login'
        - if %w(newest).include?(action_name)
          %section.box
            %header Subscribe
            - case action_name
            - when
              = link_to image_tag('rss.png'), newest_topics_path(:format => :rss)
