- content_for :head do
  = javascript_include_tag 'editor'
  = stylesheet_link_tag 'editor'

- @page_title = t('.create_topic')

#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to t('.topics'), topics_path
            %span.divider /
          %li.active= t('.create_topic')
    .row
      #mainbar.span12
        %section#editor.box
          = form_for @topic, :validate => true do |f|
            = render :partial => 'form', :object => f
            .clearfix= f.submit t('submit'), :class => 'btn primary'
      #sidebar.span4
        = render :partial => 'shared/sidebar_profile'
