- content_for :head do
  = javascript_include_tag 'editor'
  = stylesheet_link_tag 'editor'

#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to 'Topics', topics_path
            %span.divider /
          %li.active Create Topic
    .row
      #mainbar.span12
        %section#editor.box
          = form_for @topic, :validate => true do |f|
            = render :partial => 'form', :object => f
            .clearfix= f.submit 'Create', :class => 'btn primary'
