- if logined?
  - content_for :head do
    = javascript_include_tag 'editor'
    = stylesheet_link_tag 'editor'
    = javascript_include_tag 'topics/show'


#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to 'Topics', topics_path
            %span.divider /
          %li.active= @topic.title
    .row
      #mainbar.span12
        %section#topic.box
          %article{:id => @topic.anchor}
            %header
              %table.clear-table
                %tbody
                  %tr
                    %td
                      %h1= @topic.title
                      - if @topic.tags && @topic.tags.any?
                        %span.tags
                          - @topic.tags.each do |tag|
                            = link_to tag, tagged_topics_path(:tag => tag)
                      %span.author
                        by
                        = link_to_person @topic.user
                      %span.time
                        create at
                        = time_ago_in_words @topic.created_at
                        - if @topic.edited?
                          , edited at
                          = time_ago_in_words @topic.updated_at
                        ago.
                      - if logined? && current_user == @topic.user
                        = link_to 'Edit', edit_topic_path(@topic), :class => 'lbtn notice'
                    %td.avatar
                      = image_tag @topic.user.gravatar_url(:size => 72)
            = format_text @topic.content
            %footer
              = render :partial => 'marks_count', :locals => {:topic => @topic}
        %section#replies.box
          %table.item-list
            %tbody
              = render :partial => 'replies/reply', :collection => @replies
        = paginate @replies
        - if logined?
          %section#editor.box
            %h4 Post Reply
            = form_for @reply, :url => replies_path(:topic_id => @topic), :remote => true do |f|
              = render :partial => 'replies/form', :object => f
              .clearfix= f.submit 'Post', :class => 'btn primary'

      #sidebar.span4
        %section.box
          %header
            Relate Topics
          .content
            - if @relate_topics.any?
              %ul.nice-list
                - @relate_topics.each do |topic|
                  %li= link_to topic.title, topic
            - else
              no relate topics.
