- content_for :head do
  = javascript_include_tag 'settings/favorite_tags'
  = stylesheet_link_tag 'settings/favorite_tags'

.tags
  - current_user.favorite_tags.each do |tag|
    %span.tag
      %span.content= tag
      %span.delete x

= form_for current_user, :url => settings_favorite_tags_path, :method => :post, :validate => true do |f|
  %fieldset
    .clearfix
      = f.label :extra_favorite_tag_string, 'Extra Tags'
      .input
        = f.text_field :extra_favorite_tag_string, :class => 'span7'
    .actions
      = f.submit :add, :class => 'btn primary'
