- content_for :head do
  = javascript_include_tag 'settings/favorite_tags'
  = stylesheet_link_tag 'settings/favorite_tags'

%header
  %h3= t '.favorite_tags_settings'

.tags
  - current_user.favorite_tags.each do |tag|
    %span.tag
      %span.content= tag
      %span.delete x

= form_for current_user, :url => settings_favorite_tags_path, :method => :post, :validate => true do |f|
  %fieldset
    %h4= t '.add_favorite_tags'
    .control-group
      .controls
        = f.text_field :extra_favorite_tag_string, :class => 'span6'
    = f.submit t('add'), :class => 'btn primary'
