= form_for current_user, :url => settings_favorite_tags_path, :validate => true do |f|
  %fieldset
    .clearfix
      = f.label :extra_favorite_tag_string, 'Extra Tags'
      .input
        = f.text_field :extra_favorite_tag_string, :class => 'span6'
        = f.submit :add, :class => 'btn primary'

.tags
  - current_user.favorite_tags.each do |tag|
    %a{:href => '#'}= tag
