= render :partial => 'shared/flash_messages'
%header
  %h3= t '.password_settings'
= form_for current_user, :url => settings_password_path, :validate => true do |f|
  %fieldset
    .control-group
      .control-label
        = f.label :current_password
      .controls
        = f.password_field :current_password, :class => 'span3'
    .control-group
      .control-label
        = f.label :password
      .controls
        = f.password_field :password, :class => 'span3'
    .control-group
      .control-label
        = f.label :password_confirmation
      .controls
        = f.password_field :password_confirmation, :class => 'span3'
    = f.submit t('save'), :class => 'btn primary'
