%li
  .avatar= link_avatar_to_person comment.user, :size => 24
  .comment
    .info
      %span.author= link_to_person comment.user
      %span.time= time_ago_in_words comment.created_at
      %span.up= link_to 'up', '#'
      |
      %span.reply= link_to 'reply', new_comment_path(:resource_id => comment.resource, :parent_id => comment)
    .content
      = comment.content
  - children = @comments.find_all{|c| c.parent == comment}
  - if children.any?
    %ul
      - children.each do |child|
        = render :partial => 'comment', :object => child
