%tr{'data-resource-id' => resource.number_id, :id => resource.anchor}
  %td
    %h3
      = link_to resource.title, resource.url, :rel => 'external'
    .info
      %span.domain= resource.host
      - if resource.tags.any?
        %span.tags
          - resource.tags.each do |tag|
            = link_to tag, tagged_resources_path(:tag => tag)
      %span.comments
        = link_to t('.comments_count', :count => resource.comments_count), resource
  %td.thin
    .time
      = format_time resource.created_at
    .user
      = link_to_person resource.user
  %td.last
    = render :partial => 'resources/votes_count', :locals => {:resource => resource}
