#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to t('.resources'), resources_path
              %span.divider /
            %li.active
              - if action_name == 'tagged'
                = t '.tagged', :tag => params[:tag]
              - else
                = t ".#{action_name}"
    .row
      #mainbar.span12
        - if @resources.any?
          %section#resources.box
            %table.item-list
              %tbody
                = render :partial => 'resource', :collection => @resources
          = paginate @resources
        - else
          %section.box
            = t '.no_resources'
      #sidebar.span4
        - if logined?
          %section.box
            - if action_name == 'tagged'
              = link_to t('.submit_resource'), new_resource_path(:tag => params[:tag]), :class => 'btn primary'
            - else
              = link_to t('.submit_resource'), new_resource_path, :class => 'btn primary'
          = render :partial => 'shared/sidebar_profile'
          %section.box
            %ul.nice-list
              %li= link_to_unless (action_name == 'interesting'), t('.interesting'), interesting_resources_path
              %li= link_to_unless (action_name == 'voted'), t('.voted'), voted_resources_path
              %li= link_to_unless (action_name == 'my'), t('.my'), my_resources_path
          - if action_name == 'tagged'
            %section.box
              %header
                = t '.tagged', :tag => params[:tag]
              - if current_user.favorite_tags.include? params[:tag]
                = button_to t('.remove_favorite'), settings_favorite_tag_path(:id => params[:tag]), :method => :delete, :class => 'btn error'
              - else
                = button_to t('.add_favorite'), settings_favorite_tag_path(:id => params[:tag]), :method => :put, :class => 'btn success'
          %section.box
            %header
              = t '.favorite_tags'
              %small= link_to t('.settings'), settings_favorite_tags_path
            - if current_user.favorite_tags.any?
              .tags
                - current_user.favorite_tags.each do |tag|
                  = link_to tag, tagged_resources_path(:tag => tag)
        - else
          = render :partial => 'shared/sidebar_login'
