#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to 'Resources', resources_path
              %span.divider /
            %li.active= action_name
    .row
      #mainbar.span12
        - if @resources.any?
          %section#resources.box
            %table.item-list
              %tbody
                - @resources.each do |resource|
                  %tr
                    %td
                      %h3
                        = link_to resource.title, resource.url
                      .info
                        %span.domain= resource.host
                        - if resource.tags.any?
                          %span.tags
                            - resource.tags.each do |tag|
                              = link_to tag, tagged_resources_path(:tag => tag)
                    %td
                      .time
                        = time_ago_in_words resource.created_at
                        ago
                      .user
                        by
                        = link_to_person resource.user
                    %td
                      - if logined? && resource.voted_by?(current_user)
                        = link_to "vote #{resource.up_votes_count}", vote_up_resource_path(resource), :class => 'lbtn voted', :method => :delete
                      - else
                        = link_to_if logined?, "vote #{resource.up_votes_count}", vote_up_resource_path(resource), :class => 'lbtn vote', :method => :put
          = paginate @resources
        - else
          %section.box
            No Resources
      #sidebar.span4
        - if logined?
          %section.box
            - if action_name == 'tagged'
              = link_to 'Submit Resource', new_resource_path(:tag => params[:tag]), :class => 'btn primary'
            - else
              = link_to 'Submit Resource', new_resource_path, :class => 'btn primary'
          %section.profile.box
            .avatar
              = link_avatar_to_person current_user, :size => 64
            .info
              Signed as
              %h3 Rei
          - if action_name == 'tagged'
            %section.box
              %header
                Tagged
                = params[:tag]
              - if current_user.favorite_tags.include? params[:tag]
                = button_to 'Remove Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :delete, :class => 'btn error'
              - else
                = button_to 'Add Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :put, :class => 'btn success'
          %section.box
            %header
              Favorite Tags
              %small= link_to 'settings', settings_favorite_tags_path
            - if current_user.favorite_tags.any?
              .tags
                - current_user.favorite_tags.each do |tag|
                  = link_to tag, tagged_resources_path(:tag => tag)
        - else
          %section.box
            %header
              Join to Submit or Vote Resource?
            = link_to 'Signup', signup_path, :class => 'btn'
            or
            = link_to 'Login', login_path
