#main
  .container
    - if action_name != 'index'
      .row
        .span16
          %ul.breadcrumb
            %li
              = link_to 'Resources', resources_path
              %span.divider /
            %li.active= action_name
    .row
      #mainbar.span12
        - if @resources.any?
          %section#resources.box
            %table.item-list
              %tbody
                = render :partial => 'resource', :collection => @resources
          = paginate @resources
        - else
          %section.box
            No Resources
      #sidebar.span4
        - if logined?
          %section.box
            - if action_name == 'tagged'
              = link_to 'Submit Resource', new_resource_path(:tag => params[:tag]), :class => 'btn primary'
            - else
              = link_to 'Submit Resource', new_resource_path, :class => 'btn primary'
          = render :partial => 'shared/sidebar_profile'
          %section.box
            %ul.nice-list
              %li= link_to_unless (action_name == 'interesting'), 'Interesting', interesting_resources_path
              %li= link_to_unless (action_name == 'voted'), 'Voted', voted_resources_path
              %li= link_to_unless (action_name == 'my'), 'My', my_resources_path
          - if action_name == 'tagged'
            %section.box
              %header
                Tagged
                = params[:tag]
              - if current_user.favorite_tags.include? params[:tag]
                = button_to 'Remove Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :delete, :class => 'btn error'
              - else
                = button_to 'Add Favorite', settings_favorite_tag_path(:id => params[:tag]), :method => :put, :class => 'btn success'
          %section.box
            %header
              Favorite Tags
              %small= link_to 'settings', settings_favorite_tags_path
            - if current_user.favorite_tags.any?
              .tags
                - current_user.favorite_tags.each do |tag|
                  = link_to tag, tagged_resources_path(:tag => tag)
        - else
          = render :partial => 'shared/sidebar_login'
