#main
  .container
    .row
      #mainbar.span12
        - if @resources.any?
          %section#resources.box
            %table.item-list
              %tbody
                - @resources.each do |resource|
                  %tr
                    %td
                      %h3
                        = link_to resource.title, resource.url
                      .info
                        %span.domain= resource.host
                        - if resource.tags.any?
                          %span.tags
                            - resource.tags.each do |tag|
                              = link_to tag, '#'
                    %td
                      .time
                        = time_ago_in_words resource.created_at
                        ago
                      .user
                        by
                        = link_to_person resource.user
                    %td
                      - if logined? && resource.voted_by?(current_user)
                        = link_to "vote #{resource.up_votes_count}", vote_up_resource_path(resource), :class => 'lbtn voted', :method => :delete
                      - else
                        = link_to_if logined?, "vote #{resource.up_votes_count}", vote_up_resource_path(resource), :class => 'lbtn vote', :method => :put
          = paginate @resources
        - else
          %section.box
            No Resources
      #sidebar.span4
        - if logined?
          %section.box
            = link_to 'Submit Resource', new_resource_path, :class => 'btn primary'
        - else
          %section.box
            %header
              Join to Submit or Vote Resource?
            = link_to 'Signup', signup_path, :class => 'btn'
            or
            = link_to 'Login', login_path
