- content_for :head do
  = javascript_include_tag 'resources/new'
  = stylesheet_link_tag 'resources'

#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to t('.resources'), resources_path
            %span.divider /
          %li.active= t('.submit_resource')
    .row
      #mainbar.span12
        %section.box
          = form_for @resource, :validate => true, :html => {:class => 'form-stacked'} do |f|
            .clearfix
              = f.label :title
              = f.text_area :title, :class => 'span11', :rows => 2
            .clearfix
              = f.label :url
              = f.text_field :url, :class => 'span11'
            .clearfix
              = f.label :tag_string
              = f.text_field :tag_string, :class => 'span11'
            .actions
              = f.submit t('submit'), :class => 'btn primary'
