#main
  .container
    .row
      .span16
        %ul.breadcrumb
          %li
            = link_to 'Resources', resources_path
            %span.divider /
          %li.active= @resource.title
    .row
      #mainbar.span12
        %section#resource.box
          %article
            %header
              %h1= @resource.title
              %h2= link_to @resource.url, @resource.url
            %footer
              - if logined? && @resource.voted_by?(current_user)
                = link_to "vote #{@resource.up_votes_count}", vote_up_resource_path(@resource), :class => 'lbtn voted', :method => :delete
              - else
                = link_to_if logined?, "vote #{@resource.up_votes_count}", vote_up_resource_path(@resource), :class => 'lbtn vote', :method => :put
      #sidebar.span4
        %section.box
          %header
            Relate Resources
          .content
            - if @relate_resources.any?
              %ul.nice-list
                - @relate_resources.each do |resource|
                  %li= link_to resource.title, resource
            - else
              no relate resources.
