#main
  .container
    #login-form.box
      = form_tag user_sessions_path, :class => 'form-stacked' do
        %fieldset
          %legend Login
          .clearfix
            = label_tag :login, 'Name or Email'
            .input
              = text_field_tag :login, nil, :class => 'span6', :tabIndex => 1
          .clearfix
            = label_tag :password
            .input
              = password_field_tag :password, nil, :class => 'span6', :tabIndex => 2
          .clearfix
            .input
              %ul.inputs-list
                %li
                  %label
                    = check_box_tag :remember_me, 'yes', false, :tabIndex => 3
                    %span Remember Me
          .actions
            = submit_tag 'Login', :class => 'btn primary', :tabIndex => 4
            or
            = link_to 'not signup yet?', signup_path
