= form_for current_user.profile, :url => settings_profile_path, :validate => true do |f|
  %fieldset
    .clearfix
      %label Avatar
      .input
        %table.clear-table
          %tbody
            %tr
              %td.avatar= image_tag current_user.gravatar_url(:size => 80)
              %td
                %p Using Gravatar
                %p
                  = link_to 'Change Email', settings_account_path
                  = '/'
                  = link_to 'Go to Gavatar', 'http://www.gravatar.com'
    .clearfix
      = f.label :name
      .input
        = f.text_field :name, :class => 'span4'
    .clearfix
      = f.label :url
      .input
        = f.text_field :url, :class => 'span4'
    .clearfix
      = f.label :description
      .input
        = f.text_area :description, :rows => 5, :class => 'span8'
    .actions
      = f.submit :save, :class => 'btn primary'
