.topbar
  .topbar-inner
    .container
      %h3{:id => 'logo'}
        = link_to 'CodeCampo', root_path
      %ul.nav
        %li{:class => (controller_name == 'homepage' ? 'active' : nil)}
          = link_to 'Home', root_path
        %li
          %a{:href => '#'} Resources
        %li{:class => (controller_name == 'topics' ? 'active' : nil)}
          = link_to 'Topics', topics_path
      %ul.nav.secondary-nav
        - if logined?
          %li.notifications
            %a{:href => '#'}
              %span.count 0
          %li.dropdown{'data-dropdown' => 'dropdown'}
            %a{:href => '#', :class => 'dropdown-toggle'}
              = current_user.name
            %ul.dropdown-menu
              %li
                %a{:href => '#'} Profile
              %li
                = link_to 'Settings', settings_account_path
              %li.divider
              %li
                = link_to 'Logout', logout_path, :method => :delete
        - else
          %li
            = link_to 'Signup', signup_path
          %li
            = link_to 'Login', login_path
