!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= page_title
    - if defined?(@subscribe_url)
      %link{:rel => 'alternate', :type => 'application/rss+xml', :href => @subscribe_url}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Trocchi'
    - if content_for? :head
      = yield :head
    = csrf_meta_tags
  %body
    #topbar
      .container
        .logo
          = link_to @site.name, admin_dashboard_path, :class => 'brand'
        %ul.nav.nav-pills
          %li{:class => (controller_name == 'dashboard' ? 'active' : nil)}
            = link_to t('.dashboard'), admin_dashboard_path
          %li{:class => (controller_name == 'topics' ? 'active' : nil)}
            = link_to t('.topics'), admin_topics_path
          %li{:class => (controller_name == 'replies' ? 'active' : nil)}
            = link_to t('.replies'), admin_replies_path
          %li{:class => (controller_name == 'users' ? 'active' : nil)}
            = link_to t('.users'), admin_users_path
          %li{:class => (controller_name == 'sites' ? 'active' : nil)}
            = link_to t('.site'), admin_site_path
          %li{:class => (controller_name == 'fragments' ? 'active' : nil)}
            = link_to t('.fragments'), admin_fragments_path
        %ul.nav.nav-pills.pull-right
          %li
            = link_to t('.back_home'), root_path
    = yield
    = render :partial => 'layouts/footer'
