!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    - if content_for? :head
      = yield :head
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/topbar'
    #main
      .container
        %section.box
          .row
            .settings.span16
              %header
                %table.clear-table
                  %tbody
                    %tr
                      %td.avatar= image_tag current_user.gravatar_url(:size => 36)
                      %td
                        %h3
                          = t '.settings_title', :name => current_user.name
              .row
                .span16
                  %ul.tabs
                    %li{:class => (controller_name == 'accounts' ? 'active' : nil)}= link_to t('.account'), settings_account_path
                    %li{:class => (controller_name == 'passwords' ? 'active' : nil)}= link_to t('.password'), settings_password_path
                    %li{:class => (controller_name == 'profiles' ? 'active' : nil)}= link_to t('.profile'), settings_profile_path
                    %li{:class => (controller_name == 'favorite_tags' ? 'active' : nil)}= link_to t('.favorite_tags'), settings_favorite_tags_path
              .row
                .span12
                  = yield
                .span4
                  = yield :sidebar
    = render :partial => 'layouts/footer'
